.card-container {
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px 0;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  margin: 40px auto;
}

.card-container:hover {
  transform: scale(1.05);
}

img {
  width: calc(100% - 50px);
}